@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url('images/basketball4.jpg');
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
   margin: 0;
}

.basketball-container{
    margin: 20px 0;

}

.basketball-container select {
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    appearance: none;
}